#biotac {
  border: solid 1px red;
  border-collapse:collapse;
}
#biotac td {
  width: 50px;
  height: 50px;
  padding: 0px;
  border: solid 1px black;
  text-align: center;
  background-color: rgb(255,255,0);
}